# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files


# Node
node_modules/

# Prebuild
# android/

# ios/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Archivos específicos
roo-code-messages.log
repomix-output.txt
bundles.json

# Ignorar carpeta .repomix y su archivo bundles.json
.repomix/
.repomix/bundles.json


*.apk

# Build files
build-*.apk
build-*.aab
build-*.ipa

# Google Play Service Account
google-play-service-account.json

# Temporary files
tmp/
temp/